<html>
    <head>
        <title>{{ nbapp }}</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <tt><a href="http://github.com/conda/conda-launch">conda-launch</a></tt> |
            <a href="/">Apps</a> | <a href="/shutdown">Shutdown</a><br>
            <a href="?">Input Form</a> |
            <a href="?view=t">View Only</a>

            <div class="title">
                <h1>{{ nbapp }}</h1>
            </div>
            <div id="content">
                {{ desc }}
                <form method="post" action="{{ post_url }}" >
                    {% block content %}
                    <table>
                        {% for name, type in params %}
                            <tr>
                                <td>{{name}}</td>
                                <td><input type="text" name="{{name}}" /><br /></td>
                                <td>{{type}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endblock %}                                 
                    <input type="submit" value="Execute"/>
                </form>
            </div>
        </div>
    </body>
</html>
