<html>
    <head>
        <title>{{ nbname }}</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>{{ nbname }}</h1>
            </div>
            <div id="content">
                {{ desc }}
                <form method="post" action="{{ post_url }}" >
                    {% block content %}
                    <table>
                        {% for name, type in params %}
                            <tr>
                                <td><abbr title="{{type}}">{{name}}</abbr></td>
                                <td><input type="text" name={{name}} /><br /></td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endblock %}                                 
                    <input type="submit"/>
                </form>
            </div>
        </div>
    </body>
</html>
