<html>
    <head>
        <title>Status</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <tt><a href="http://github.com/conda/conda-launch">conda-launch</a> | </tt><a href="/">Apps</a> | <a href="/shutdown">Shutdown</a>

            <div class="title">
                <h1>Status</h1>
            </div>
            <div id="content">
                {{ message }}
            </div>
        </div>
    </body>
</html>
